@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <H1> Welcome to Joe's Pizza</H1>
</div>

<br />

<div class="container d-flex flex-wrap">

    @foreach (var product in Model.Products)
    {
@*        <div class="col mt-4">*@
        <div class="card mx-auto" style="width: 19rem; margin-bottom:15px;">
            <img class="card-img-top" src="~/images/@product.Photo" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text">Pizza No. : @product.Id  <br />Price : $ @product.Price</p>
@*                    <p class="card-text">Product Price : @product.Price</p>
*@                  @*<a asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id">Buy Now</a>
                    <button type="button" class="btn btn-primary" asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id">Buy Now</button>
                    *@<a class="btn btn-primary" asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id">Buy Now</a>

                </div>
        </div>
      @*  </div>*@
    }
</div>
@*
<h4>Product List</h4>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr align="center">
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td><img src="~/images/@product.Photo" width="120" height="100" /></td>
            <td>$@product.Price</td>
            <td>
                <a asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id">Buy Now</a>
            </td>
        </tr>
    }
</table>*@